<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Bem-vindo à Pépe Informática, sua loja de informática de confiança. Oferecemos uma ampla variedade de produtos e serviços de informática, incluindo computadores, notebooks, periféricos, impressoras e acessórios. Contamos com uma equipe de profissionais capacitados para oferecer suporte técnico, consultoria e soluções personalizadas. Nosso compromisso é com a satisfação dos nossos clientes. Obrigado por escolher a Pépe Informática como sua parceira em tecnologia.
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> pepe@informatica.com.br</li>     
                <li><i class="fa-solid fa-phone"></i> (17) 1234-5678</li>
                <li><i class="fa-brands fa-whatsapp"></i> (17) 9 1234-5678</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>